h1{
  text-align: center;
}

#title{
  font-family: 'Alfa Slab One', cursive;
  padding-bottom: 30px;
}

#gameboard {
  padding: 0px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 150px;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

.green-button{
  background: #00cc00;
  width: 150px;
  height: 150px;
  border-radius: 150px 0 0 0;
  padding: 15px;
}

.red-button{
  background: #ff1a1a;
  width: 150px;
  height: 150px;
  border-radius: 0 150px 0 0;
}

.yellow-button{
  background: #ffff00;
  width: 150px;
  height: 150px;
  border-radius: 0 0 150px 0;
}

.blue-button{
  background: #0000ff;
  width: 150px;
  height: 150px;
  border-radius: 0 0 0 150px;
}

#game-controls{
  text-align: center;
  margin-bottom: 20px;
}

#instructions{
  text-align: center;
  margin-bottom: 20px;
}


.btn{
  text-align: center;
}

#start-btn{
  margin-right: 10px;
}

#strict-on{
margin-right: 10px;
}

#strict-off{
margin-right: 10px;
}

#score-box {
  margin: 0 auto;
}

#score-box tr td{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.count{
  font-family: 'VT323', monospace;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
  width: 175px;
  border: 3px solid #333333;
  border-radius: 10px;
  color: #ff0000;
  background-color: #000000;
}

#table-text{
  font-weight: bold;
}

.light-up{
  opacity: 0.5;
}

#footer{
  width: 25%;
  padding: 25px;
  margin-top: 25px;
  //background-color: #ffbd80;
  border: 2px solid #908b85;
  border-radius: 20px;
}
